[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "Hugo_site/themes/ga-hugo-theme"]
	path = Hugo_site/themes/ga-hugo-theme
	url = https://github.com/giraffeacademy/ga-hugo-theme.git